[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
flask = "*"
gunicorn = "*"
mlflow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
boto3 = "*"



[dev-packages]
requests = "*"
pytest = "*"
deepdiff = "*"
pylint = "==2.14.4"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

