mlops/
homework_03/charts/
homework_03/custom/
homework_03/dbt/
homework_03/extensions/
homework_03/interactions/
homework_03/mlruns/
homework_03/pipelines/

homework_03/scratchpads
homework_03/utils
homework_03/.ssh_tunnel
homework_03/__init__.py
homework_03/dict_vectorizer.pkl
homework_03/docker-compose.yaml
homework_03/io_config.yaml

homework_03/mlflow.dockerfile
homework_03/requirements.txt
homework_03/data_exporters/export_titanic_clean.py
homework_03/data_exporters/__init__.py

homework_03/data_loaders/load_titanic.py
homework_03/data_loaders/__init__.py
homework_03/transformers/fill_in_missing_values.py
homework_03/transformers/__init__.py
homework_03/mlartifacts/335180014525648063/3b13a9390c1e49209ee23a7c0507619e/artifacts
homework_03/mlartifacts/335180014525648063/3b13a9390c1e49209ee23a7c0507619e/artifacts/model/conda.yaml
homework_03/mlartifacts/335180014525648063/3b13a9390c1e49209ee23a7c0507619e/artifacts/model/MLmodel
homework_03/mlartifacts/335180014525648063/3b13a9390c1e49209ee23a7c0507619e/artifacts/model/python_env.yaml
homework_03/mlartifacts/335180014525648063/3b13a9390c1e49209ee23a7c0507619e/artifacts/model/requirements.txt
